In [1]:
import pandas as pd
import traceback

In [2]:
#EXTRACT

dfs = []
for i in range (1,11):
    for j in range(1,3):
        try:
            df = pd.read_excel(f"../data/isruc-sleep/subgroupIII/{i}/{i}_{j}.xlsx", usecols="A:I",)
            df["patient_id"] = i
            df["score_id"]= j
            dfs.append(df)
        except Exception as e:
            print(f"Error parsing {i}: {e}")
            traceback.print_exc()

In [3]:
# TRANSFORM
def transform(df):
    df = df.copy()
    df.columns=["epoch","stage","spo2","hr","events","bpos","txln","txex","technote", "patient_id","score_id"]
    #no point keeping points if scorer didnt score
    df.dropna(how="any", subset=['epoch','stage'], inplace=True)
    df.dropna(how="all", inplace=True)
    return df

In [4]:
dfs = [transform(df) for df in dfs]

In [5]:
df = pd.concat(dfs)

In [6]:
df.head()

,epoch,stage,spo2,hr,events,bpos,txln,txex,technote,patient_id,score_id
0,1,W,0,98 L Out,NaN,B,0,0,23:19:53 - LIGHTS OUT,1,1
1,2,W,0,82,NaN,B,0,0,NaN,1,1
2,3,W,0,89,NaN,B,0,0,NaN,1,1
3,4,W,0,95,NaN,B,0,0,NaN,1,1
4,5,W,0,100,NaN,R,0,0,NaN,1,1

In [14]:
studyIII = pd.read_excel(f"../data/isruc-sleep/subgroupIII/Details_subgroup_III_Submission.xlsx", header=2,usecols="A:S")

In [15]:
studyIII.columns=[x.lower() for x in studyIII.columns]

In [27]:
studyIII['age']=pd.to_numeric(studyIII.age,errors="coerce")
studyIII['date of recording'] = pd.to_datetime(studyIII['date of recording'].str.split("-",expand=True)[0])

In [29]:
studyIII.head()

,subject,age,sex,diagnosis,other problems,epoches,w%,n1%,n2%,n3%,rem%,w%.1,n1%.1,n2%.1,n3%.1,rem%.1,date of recording
0,1,30,M,NaN,no problem,954,17.30,12.47,39.10,18.66,12.47,15.41,11.53,41.09,19.92,12.05,2009-03-28
1,2,41,M,NaN,no problem,941,12.22,15.30,34.33,20.94,17.22,9.35,11.26,34.22,25.82,19.34,2009-04-25
2,3,52,M,NaN,no problem,824,10.80,7.89,30.34,38.47,12.50,9.95,8.86,31.92,34.95,14.32,2009-02-14
3,4,58,M,NaN,no problem,794,21.91,17.25,29.47,20.03,11.34,19.77,16.88,27.46,19.90,15.99,2009-03-14
4,5,49,F,NaN,no problem,944,31.99,7.63,31.14,20.66,8.58,30.08,11.33,32.94,15.36,10.28,2009-02-14

In [30]:
#from visbrain.gui import Sleep

In [123]:
#import os

#from visbrain.gui import Sleep
#from visbrain.io import download_file, path_to_visbrain_data